.home{
  display: inline;
  float: left;
  width: 20%; 
}
.container{
  position: fixed;
  right: 10%;
  top:15%;
  left:20%;
  width:70%;
  font-family:"Arial", Gadget, sans-serif;
  font-size: 1em;
  color:rgb(17, 72, 97);

}

.date{
  float: left;
  width: 100%;
}
.dateText{
  float:left;
  margin-right:45px;
}

.dateInput{
  float:left;
  /* margin-top: 24px; */
}

.sort{
  float: left;
  width: 100%;
}

.sortText{
  float:left;
  margin-right:80px;
}

.sortSelect{
  float:left;
  margin-top: 8px;
}

.direction{
  float:left;
  width:100%;
}
.dirText{
  float:left;
  margin-right:30px;
}

.dirSelect{
  float:left;
  margin-top: 8px;
}
.button{
  margin-top: 30px;
  float: left;
}
button {
  background-color: rgb(12, 110, 87);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button:hover {
  opacity: 0.8;
}
@media (max-width: 600px) {

  .container{
    position: fixed;
    top:350px;
    width:100%;
    /* background-color: rgb(42, 131, 89);*/
    width:100%;
  }
   
  }
  