.container{
    position: fixed;
    left: 30%;
    top:22%;
   /* background-color: coral;*/
    width:70%;
    font-family:"Arial", Gadget, sans-serif;
    font-size: 1.2em;
  }
 
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  @media (max-width: 700px) {

    .container{
      position: fixed;
      top:300px;
      width:100%;
      /* background-color: rgb(42, 131, 89);*/
     
    }
  
  }
 