.home{
  display: inline;
  float: left;
  width: 20%; 
}

.container{
  position: fixed;
  right: 10%;
  top:15%;
  left:300px;
  width:70%;
  font-family:"Arial", Gadget, sans-serif;
  font-size: 1em;
  color:rgb(17, 72, 97);
  }

input{
    height:100%;
    width:230px;
    font-size:18px;
    color:rgb(17, 72, 97);
 
}
button {
    background-color: rgb(12, 110, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    opacity: 0.8;
}
 
  .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  @media (max-width: 700px) {

    .container{
      position: fixed;
      top:15%;
      width:100%;
      /* background-color: rgb(42, 131, 89);*/
     
    }
  
  }
 