.itemList{
    /* position: fixed; */
    right: 8%;
    top:70%;
    /* width:65%; */
    font-family:"Arial", Gadget, sans-serif;
  
}
table{
    border-spacing: 20px;
    text-align: left;
    border-bottom: 2px solid rgb(188, 192, 197);
    border-collapse: collapse;
    width:100%;
    height: 400px;
    overflow: auto;
}
th{
    font-size: 1.2em;
  
    border-bottom: 2px solid rgb(188, 192, 197);
    color:rgb(17, 72, 97);
    height:50%;
    width:37%;
}
td{
    font-size: 1em;
    border-bottom: 2px solid rgb(188, 192, 197);
    color:rgb(0, 5, 7);
    height:50%;
    width:37%;
    padding: 5px;
}

td a{
    font-size:0.8em;
}
tr{
    line-height: 40px;
}
thead.fixedHeader {
	display: table;
	overflow: auto;
	width: 100%;
}
tbody.scrollContent {
    display: block;
	height: 170px;
	overflow: auto;
	width: 100%;
}

@media only screen and (max-width: 600px) {
    .itemList{
        position: fixed;
        top:600px;
        width:100%;
        /* background-color: rgb(42, 131, 89);*/
        width:100%;
    }
    
}