.main{
    position: fixed;
    right: 10%;
    top:150px;
    left:380px;
    width:70%;
    font-family:"Arial", Gadget, sans-serif;
    font-size: 1em;
    color:rgb(17, 72, 97);
 /* background-color: coral;*/
}

table{
    border-spacing: 21px;
}
tr{
    text-align: left; 
}
.home{
    width:100%;
}

button {
    background-color: rgb(12, 110, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    float:right;
}

button:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    .main{
        position: fixed;
        top:380px;
        width:100%;
        /* background-color: rgb(42, 131, 89);*/
        width:100%;
    }
    
}