.itemEdit{
    position: fixed;
    right: 10%;
    top:15%;
    left:300px;
    width:80%;
    font-family:"Arial", Gadget, sans-serif;
    font-size: 1em;
    color:rgb(17, 72, 97);
    overflow: scroll;
    height:570px;
}
input{
    height:100%;
    width:230px;
    font-size:18px;
    color:rgb(17, 72, 97);
 
}
button {
    background-color: rgb(12, 110, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    opacity: 0.8;
}
@media (max-width: 700px) {

    .itemEdit{
      position: fixed;
      width:100%;
      /* background-color: rgb(42, 131, 89);*/
      left:30px;
    }
   
 
  }
  