/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 60px;
  padding-bottom: 60px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.home{
  width:100%;
}
.topLink{
  position: fixed;
  left: 50%;
  top:158px;
/*   background-color: coral;*/
  width:30%;
}
.container{
  background-color:rgb(206, 110, 110);
  overflow-y:scroll;
}
.grid{
  position: fixed;
  right: 8%;
  top:30%;
/*  background-color: coral;*/
  width:70%;
}
.col-1-4 {
  position: relative;
  width: 130px;
  margin-right: 1.5em;
  margin-left: 0.5em;
  margin-bottom: 1em;
}
.module {
  padding: 15px;
  text-align: center;
  border:solid;
  border-width: 1px 1px 1px 1px;
  border-color: rgb(204, 214, 233);
  color: rgb(5, 5, 5);
  max-height: 120px;
  min-width: 120px;
  font-size: 1em;
  border-radius: 2px;
}
.module:hover {
  background-color: #eee;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 800px) {

  .topLink{
    position: fixed;
    top:300px;
    width:100%;
    /* background-color: rgb(42, 131, 89);*/
    width:100%;
  }
  .grid{
    position: fixed;
    top:400px;
    left:50px;

   
  /*  background-color: coral;*/
    width:100%;
  }
}
