<app-current-user></app-current-user>

<div *ngIf="orgCat" class="main">
  <table>
    
    <tr>
      <th>
        <label for="name">Product Name</label>
      </th>
      <th>
        <input [(ngModel)]="catName" placeholder="name" />
      </th>
    </tr>
    <br/>

    <tr>
      <th>
        <label for="name">Description</label>
      </th>
      <th>
        <textarea [(ngModel)]="catDesc" placeholder="description"></textarea>
      </th>
    </tr>
    <br/>

    <tr>
        <label for="name">Choose product image</label>
      <input type="file" (change)="upload($event)" accept=".png,.jpg" />
      <div>{{ uploadPercent | async }}</div>
      <a [href]="downloadURL | async">{{ downloadURL | async }}</a>
    </tr>
  </table>
  
  <br/>
  <br/>
  
  <button (click)="saveChange()">Save</button>
  <button (click)="goBack()">Cancel</button>

</div>

<div class="home">
  <app-home></app-home>
</div>