<app-current-user></app-current-user>

<div *ngIf="orgCat" class="main">
  <table>
    <tr>
      <th><h3>Product Name </h3></th>
      <th><input [(ngModel)]="catName" placeholder="name"/></th>
    </tr>  
    <tr> 
      <th><h3>Description</h3></th>
      <th><textarea [(ngModel)]="catDesc" placeholder="description"></textarea></th>
    </tr>   
   
  </table>
  <button (click)="saveChange()">Save</button>
  <button (click)="goBack()">Cancel</button>
  
</div>

<div class="home">
  <app-home></app-home>
</div>
