.main{
    position: fixed;
    right: 10%;
    top:15%;
    left:20%;
    width:70%;
    font-family:"Arial", Gadget, sans-serif;
    font-size: 1em;
    color:rgb(17, 72, 97);
}
table{
    border-spacing: 24px;
}
tr{
    text-align: left; 
}
button {
    background-color: rgb(12, 110, 87);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    opacity: 0.8;
}
input{
    height:100%;
    width:230px;
    font-size:14px;
    color:rgb(17, 72, 97);

}
textarea{
   height:150px;
    width:300px;
    font-size:14px;
    color:rgb(17, 72, 97);
    border-radius: 5px;
    resize:none;
}