.search-result li {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:153px;
    height: 16px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
    list-style-type: none;
  }
  
  .search-result li:hover {
    background-color: #607D8B;
  }
  
  .search-result li a {
    color: rgb(5, 4, 4);
    display: block;
    text-decoration: none;
  }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: rgb(5, 4, 4);
  }
  #search-box {
    width: 70%;
    height: 20px;
  }
  
  p{
    color: #fff;
  }
  ul.search-result {
    margin-top: 0;
    padding-left: 0;
  }
  .container{
    position:fixed;
    top:280px;
    width:20%;
   
  }
  @media (max-width: 768px) {

    .container{
      visibility: hidden;
    }
     
    }
    
  